@'
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec

build/
dist/
*.exe
*.msi
*.log
*.toc
*.pkg
*.pyz

status/
*.db
status_videos.json
anotacoes/
anotacoes_usuarios/

.vscode/
nul
con
prn
aux
'@ | Set-Content -Encoding UTF8 .gitignore